.person {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    flex-grow: 1;
    margin: 10px 10px;
    padding: 10px 10px;
    border: thin solid #ccc;
    box-shadow: 2px 2px 2px rgb(227, 227, 227);
}